body{
    background-color: #fff4e6;
    font-family: Helvetica, arial, sans-serif;
    margin: auto;
    padding: 10px 10px 10px 20px;
}
.navbar-inverse{
    background-color: #854442;
    font-family: Helvetica, arial, sans-serif;
    font-size: 125%;
    color: black;
    position: relative;
}
.dropdown-menu{
    background-color: #854442;
    color: white;
}
.dropdown-menu li a:hover{
    background-color: #854442;
    color: white;
}

.nav.navbar-nav li a {
    color: #fff4e6;
    font-family: Helvetica, arial, sans-serif;
}
.navbar-inverse .navbar-brand {
      color: #fff4e6;
      font-family: Helvetica, arial, sans-serif;
      font-size: 110%
}
.img-responsive {
      margin: 10px 10px 10px 0px;
}
<<<<<<< Updated upstream
.col-md-10 ,.col-lg-8{
    float: none;
    margin: 0 auto;
=======

.col-md-10 ,.col-lg-8, .col-sm-10 , .col-md-9, .col-lg-7{
  float: none;
  margin: 0 auto ;
>>>>>>> Stashed changes
}
.navbar-nav {
    text-align: center;
}
.img-responsive{
    border: 7px solid #3c2f2f;
}
.inner_article{
  padding: 10px 10px 10px 10px;
  color: #fff4e6;
}
.title{
    color: #3c2f2f;
}

#right_article2{
    text-align: center;
}
#right_article3{
    text-align: left;
}
#rowtest{

}
#sidebar{
    color: #fff4e6;
    text-align: left;
    padding: 10px 10px 10px 10px;
    border-radius: 16px;
    box-shadow: 5px 5px 5px #888888;
    background-color: #854442;
    font-family: Helvetica, arial, sans-serif;
}
#article1{
    background-color: #4b3832;
    padding: 10px 10px 10px 10px;
    color: #fff4e6;
    border-radius: 16px;
    box-shadow: 5px 5px 5px #888888;
    margin-bottom: 15px;

}
#article2{
    background-color: #4b3832;
    padding: 10px 10px 10px 10px;
    color: #fff4e6;
    border-radius: 16px;
    box-shadow: 5px 5px 5px #888888;
    margin-bottom: 15px;

}
#article3{
    background-color: #4b3832;
    padding: 10px 10px 10px 10px;
    color: #fff4e6;
    border-radius: 16px;
    box-shadow: 5px 5px 5px #888888;
    margin-bottom: 15px;
}
